<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Confirmation</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body> 
    
    <div id="deleteconfirm">

    <form method="post" action="/chaters/delete1/<%= chater.id %>">
    <p name="newid" style="visibility: hidden;" id="hidden"><%= id %></p> 
    <h2 id="deleteconfirmheading">Do You really want to delete post?</h2><br>
    <button type="submit" id="deleteconfirmyes" class="button">YES</button>
    <button  type="button" class="button" id="deleteconfrimcancel" onclick="location.href='http://localhost:8080/chaters'" 
    style="display:inline-block ;">
        CANCEL</button>
    </form>

    <!-- <button  type="button" class="button" id="cancel" onclick="location.href='http://localhost:8080/chaters'" 
    style="display:inline-block ;">
        CANCEL</button> -->

    </div>
    
</body>
</html>