<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password confirm for edit content</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <form method="post" action="/chaters/editcontent">
        <textarea placeholder="Chat"></textarea>
        <h1>Please Enter The Password</h1>
        <div id="idconfirm">
        <h2 style="display: inline-block" id="idconfirmheading">Enter Password:</h2><input id="idconfirminp" placeholder="Enter Password" 
        name="password"><br>
        <button id="idconfirmbutton">Submit</button>
        </div>
        </form>
</body>
</html>